

.links-orders {
    font-weight: 700;
}

#thumb-desc-inner{
    padding-top: 0;
}

#logo-welcome {
    height: 140px;
}

#logo-footer {
    height: 120px;
}

#container-logo {
    padding-top: 30px;
    padding-bottom: 10px;
}

#logo-menu {
    height: 75px;
}

#button-souvernirs, #button-activities {
    color: white;
}

#welcome-text {
    font-size: 2.5em;
    line-height: 1em;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-img{
        background-position: 50% 20% !important;
}
.breadcrumb-wrap h3, .breadcrumb-item a{
    color:  #fff !important;
}
.show-btn{
    border-radius: 50% !important;
}
@media (max-width: 600px) {
    #logo-welcome {
        height: 50px;
    }
    #welcome-text {
        font-size: 1.5em;
    }
    #button-souvernirs, #button-activities {
        padding: 10px;
        font-size: 11px;
    }
}