#welcome {
    height: 100vh;
    background-image: url(/vendor_asset/img/bg-image/home.png);
}

.links-orders {
    font-weight: 700;
}

#thumb-desc-inner{
    padding-top: 0;
}

#logo-welcome {
    height: 85px;
}

#logo-footer {
    height: 120px;
}

#container-logo {
    padding-top: 30px;
    padding-bottom: 10px;
}

#logo-menu {
    height: 90px;
}

#button-souvernirs, #button-activities {
    color: white;
}

#welcome-text {
    font-size: 3em;
    line-height: 1em;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-img{
    background-position:  bottom !important;
}
@media (max-width: 600px) {
    #logo-welcome {
        height: 50px;
    }
    #welcome-text {
        font-size: 1.5em;
    }
    #button-souvernirs, #button-activities {
        padding: 10px;
        font-size: 11px;
    }
}